.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.navbar .logo {
  width: 150px;
}

.navbar .navbar-menu {
  gap: 25px;
  justify-content: center;
}

.navbar .navbar-menu li {
  list-style: none;
  font-size: 17px;
  color: #49557e;
  cursor: pointer;
  text-transform: capitalize;
}

.navbar .navbar-menu .active {
  line-height: 30px;
  border-bottom: 1.4px solid #49557e;
}

.navbar .navbar-right {
  gap: 30px;
}

.navbar .navbar-right button {
  font-size: 17px;
  background-color: tomato;
  color: white;
  border: 1.3px solid tomato;
  padding: 8px 25px;
  border-radius: 30px;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
}

.navbar .navbar-right button:hover {
  background-color: transparent;
  color: tomato;
  border: 1.3px solid tomato;
}

.navbar .navbar-right img {
  width: 23px;
}

.navbar-right .navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  background-color: tomato;
  width: 10px;
  height: 10px;
  top: -8px;
  right: -8px;
  border-radius: 5px;
}
